* {
    padding: 0;
    margin: 0;
}

.body {height: 100%;
    Font-size: 62.5%;
}
.aad{width:100%;
    height: 43em;
    overflow: auto;
}
.head {
    padding-top: 2em;
    padding-bottom: 2em;
    height: 37px;
    background-color: #5fc0cd;
    text-align: center;
}

.head-one {
    height: 37px;
    width: 22px;
    float: left;
}

.head-twe {
    font-size: 36px;
    color: #ffffff;
}

.photograph {
    height: 15em;
    background: url(kkka.png);
    background-size: auto 20em;
    background-size: cover;
    padding-left: 2em;
    padding-top: 5em;
    text-align: center;
    display: flex;
}

.photograph-one {
    height: 7em;
    width: 7em;
}

.photograph-twe {
    height: 1em;
    width: 1em;
}

.photograph-chree {
    height: 7em;
    width: 10em;
    padding-top: 2em;
}

.a {
    width: 12em;
    height: 2em;
}

.middle {
    font-size:20px;
    padding: 1em 0em 1em 0.5em;
}

.middle-twe {
    padding: 1em 0em 1em 2em;
}
.middle-three {
    padding: 1em 0em 1em 2em;
}
.middle-fox {
    padding: 1em 0em 1em 2em;
}
.middle-five {
    padding: 1em 0em 1em 2em;
}
.middle-six{
    padding: 1em 0em 1em 2em;
    border-bottom: 2px solid rgba(200,200,200,1);
    display: flex;

}
.middle-ten{
    color:red;
}
.middle-2{min-width:5em; 
    display: flex;
    align-items: center;
    color:rgba(200,200,200,1);
}
.foot-one {
    width: 46%;
    margin: 2%;
    border-radius: 10px;
    position:fixed;
    left: 0em;
    bottom: 0em;
}

.foot-twe {
    width: 46%;
    margin: 2%;
    border-radius: 10px;
    position: fixed;
    right: 0em;
    bottom: 0em;
}
.ca{ padding-right:10px;
    color: #5fc0cd
}