#box {
    width: 100%;
    /*超出部分隐藏*/
    overflow  : hidden;
    position  : relative;
    text-align: center;
    font-size : 0;

    label {
        width        : 15px;
        height       : 15px;
        border-radius: 50%;
        border       : 1px solid white;
        position     : absolute;
        bottom       : 40px;
        z-index      : 2;
    }

    .list {
        margin    : 0;
        padding   : 0;
        list-style: none;
        width     : 300%;
        position  : absolute;
        position  : relative;
        transition: .5s;

        li {
            float     : left;
            width     : 33.333%;
            max-height: 600px;

            img {
                width: 100%;
            }
        }
    }

    input {
        display: none;
    }

    /*设置每个圆圈的位置*/
    input:checked+label {
        background: #29b078;
    }

    label:nth-of-type(1) {
        left: 48%;
    }

    label:nth-of-type(2) {
        left: 50%;
    }

    label:nth-of-type(3) {
        left: 52%;
    }


    /*选中移动ul*/

    input:nth-of-type(1):checked~ul {
        left: 0;
    }

    input:nth-of-type(2):checked~ul {
        left: -100%;
    }

    input:nth-of-type(3):checked~ul {
        left: -200%;
    }

    .bn_arrows-left label {
        display           : inline-block;
        width             : 27px;
        height            : 47px;
        line-height       : 47px;
        border            : none;
        background        : url(../img/snajiao.png) no-repeat;
        position          : absolute;
        top               : 50%;
        left              : 11.718%;
        cursor            : pointer;
        display        : none;
    }

    .bn_arrows-right label {
        display           : inline-block;
        width             : 27px;
        height            : 47px;
        line-height       : 47px;
        border            : none;
        background        : url(../img/photo3.png) no-repeat;
        position          : absolute;
        top               : 50%;
        left              : 88.282%;
        cursor            : pointer;
        display        : none;
    }
    input:nth-of-type(1):checked~.bn_arrows-right label {
        display: inline-block;
    }
}