body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
input,
select,
button {
  margin: 0;
  padding: 0;
}
/* 初始化标签在所有浏览器中的margin、padding值 */
fieldset,
img {
  border: 0 none;
}
/* 重置fieldset（表单分组）、图片的边框为0*/
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
/* 重置嵌套引用的引号类型 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* 重置嵌套引用*/
input,
select,
textarea,
button {
  vertical-align: middle;
}
/* 重置表单控件垂直居中*/
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
/* 重置表单button按钮效果 */
html,
body {
  background: #ffffff;
  font-size: 62.5%;
  line-height: 1;
  font-family: "黑体";
  color: #666;
}
/* 重置body 页面背景为白色 */
th,
td,
input,
select,
textarea,
button {
  font-size: 12px;
  line-height: 1;
  font-family: "黑体";
  color: #666;
}
/* 重置页面文字属性 */
a {
  color: #666;
  text-decoration: none;
}
/* 重置链接a标签 */
a:active,
a:hover {
  text-decoration: none;
}
/* 重置链接a标签的鼠标滑动效果 */
img {
  vertical-align: top;
}
/* 图片在当前行内的垂直位置 */
header {
  height: 40px;
  width: 62.5%;
  padding: 0 18.75%;
  font-size: 1.4rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #29b078;
  width: 62.5%;
  padding: 0 18.75%;
}
nav .u-navs {
  display: flex;
}
nav #u-check-box {
  display: none;
}
nav .u-menu {
  display: none;
}
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #ffffff;
}
#m-box-1 {
  width: 100%;
  /*超出部分隐藏*/
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 0;
  /*设置每个圆圈的位置*/
  /*选中移动ul*/
}
#m-box-1 label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  bottom: 40px;
  z-index: 2;
}
#m-box-1 .m-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 300%;
  position: absolute;
  position: relative;
  transition: .5s;
}
#m-box-1 .m-list li {
  float: left;
  width: 33.333%;
  max-height: 600px;
}
#m-box-1 .m-list li img {
  width: 100%;
}
#m-box-1 input {
  display: none;
}
#m-box-1 input:checked + label {
  background: #29b078;
}
#m-box-1 label:nth-of-type(1) {
  left: 48%;
}
#m-box-1 label:nth-of-type(2) {
  left: 50%;
}
#m-box-1 label:nth-of-type(3) {
  left: 52%;
}
#m-box-1 input:nth-of-type(1):checked ~ ul {
  left: 0;
}
#m-box-1 input:nth-of-type(2):checked ~ ul {
  left: -100%;
}
#m-box-1 input:nth-of-type(3):checked ~ ul {
  left: -200%;
}
#m-box-1 .bn_arrows-left label {
  display: inline-block;
  width: 27px;
  height: 47px;
  line-height: 47px;
  border: none;
  background: url(../img/task14.1/snajiao.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 11.718%;
  cursor: pointer;
  display: none;
}
#m-box-1 .bn_arrows-right label {
  display: inline-block;
  width: 27px;
  height: 47px;
  line-height: 47px;
  border: none;
  background: url(../img/task14.1/photo3.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 88.282%;
  cursor: pointer;
  display: none;
}
#m-box-1 input:nth-of-type(1):checked ~ .bn_arrows-right label:nth-of-type(2),
#m-box-1 input:nth-of-type(1):checked ~ .bn_arrows-left label:nth-of-type(3) {
  display: inline-block;
}
#m-box-1 input:nth-of-type(2):checked ~ .bn_arrows-right label:nth-of-type(3),
#m-box-1 input:nth-of-type(2):checked ~ .bn_arrows-left label:nth-of-type(1) {
  display: inline-block;
}
#m-box-1 input:nth-of-type(3):checked ~ .bn_arrows-right label:nth-of-type(1),
#m-box-1 input:nth-of-type(3):checked ~ .bn_arrows-left label:nth-of-type(2) {
  display: inline-block;
}
#m-box-2 {
  width: 100%;
  /*超出部分隐藏*/
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 0;
  /*设置每个圆圈的位置*/
  /*选中移动ul*/
}
#m-box-2 label {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  bottom: -25px;
  z-index: 2;
  background: #29b078;
}
#m-box-2 .m-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400%;
  position: absolute;
  position: relative;
  transition: .5s;
}
#m-box-2 .m-list li {
  float: left;
  width: 25%;
  max-height: 600px;
}
#m-box-2 .m-list li img {
  width: 100%;
}
#m-box-2 input {
  display: none;
}
#m-box-2 input:checked + label {
  background: #29b078;
}
#m-box-2 label:nth-of-type(1) {
  left: 47%;
}
#m-box-2 label:nth-of-type(2) {
  left: 49%;
}
#m-box-2 label:nth-of-type(3) {
  left: 51%;
}
#m-box-2 label:nth-of-type(4) {
  left: 53%;
}
#m-box-2 input:nth-of-type(1):checked ~ ul {
  left: 0;
}
#m-box-2 input:nth-of-type(2):checked ~ ul {
  left: -100%;
}
#m-box-2 input:nth-of-type(3):checked ~ ul {
  left: -200%;
}
#m-box-2 input:nth-of-type(4):checked ~ ul {
  left: -300%;
}
html,
body {
  background: #fafafa;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background: #ffffff;
  color: #29b078;
}
header a {
  padding-left: 15px;
}
nav {
  justify-content: flex-end;
}
nav .u-navs {
  margin-right: -35px;
}
nav .u-navs a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.6rem;
}
main {
  max-width: 62.5%;
  margin: 160px 18.75% 65px 18.75%;
}
main .g-advantage {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin-bottom: 50px;
}
main .g-advantage .g-box-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
}
main .g-advantage .g-box-one div {
  height: 60px;
  margin-bottom: 33px;
}
main .g-advantage .g-box-one .title {
  margin-bottom: 33px;
}
main .g-advantage .g-box-one .detailed {
  max-width: 225px;
  font-size: 1.6rem;
}
main .g-advantage .g-box-twe {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
}
main .g-advantage .g-box-twe div {
  height: 60px;
  margin-bottom: 33px;
}
main .g-advantage .g-box-twe .title {
  margin-bottom: 33px;
}
main .g-advantage .g-box-twe .detailed {
  max-width: 225px;
  font-size: 1.6rem;
}
main .g-advantage .g-box-twe div {
  height: 60px;
  margin-bottom: 33px;
}
main .g-advantage .g-box-twe .detailed {
  max-width: 255px;
  font-size: 1.6rem;
}
main .g-advantage .g-box-three {
  display: flex;
  max-width: 260px;
}
main .g-advantage .g-box-three .g-subject {
  padding-right: 55px;
}
main .g-advantage .g-box-three .g-small-box {
  padding-top: 60px;
}
main .g-advantage .g-box-three .g-small-box p {
  color: #29b078;
  padding-bottom: 17px;
}
main .g-advantage .g-box-three .g-small-box div {
  padding-bottom: 30px;
}
main .g-learning-method {
  font-size: 1.8rem;
}
main .g-learning-method .title {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100px;
}
main .g-learning-method .box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 175px;
}
main .g-learning-method .box .introduce {
  display: flex;
  align-items: center;
}
main .g-learning-method .box .introduce .sign {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 17px;
  color: #29b078;
  background: #ffffff;
}
main .g-learning-method .box .introduce .text {
  max-width: 155px;
  font-size: 1.4rem;
  color: #a8a8a8;
}
main .g-learning-method .box .introduce .next-step {
  height: 20px;
  width: 20px;
  margin: auto 25px auto 37px;
}
main .title {
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  height: 90px;
  font-size: 1.8rem;
}
