* {
    padding: 0;
    margin: 0;
}

.a {
    height: 50px;
    width: 100%;
    background-color: #5fc0cd;
    text-align: center;
    padding-top: 5px;
}

.aa {
    float: left;
    color: #ffffff;
}

.ab {    font-size: 20px;
    color: #ffffff;
}

.ac {
    color: #ffffff;
    float: right;
}

.b {display: flex;
    height: 70px;
    background-color: #eff0f4;
    padding: 2em 0px  2em 0px;
}

.b1 {
    width: 7%;
}

.b2 {
    background-color:#ffffff;
    min-width: 6%;
    text-align: center;
    padding: 0px 10px 0px 10px;

}

.c {display: flex;
    height: 70px;
    background-color: #eff0f4;
    padding: 0 0 2em 0;
}

.c1 {
    width: 7%;
}

.c2 {
    background-color: #ffffff;
    min-width: 6%;
    text-align: center;
    padding: 0px 10px 0px 10px;
}
.c3{
    background-color:#ffffff;
    color:#eff0f4 ;
}
.d {
    float: right;
    padding: 20px;
}