* {
    padding: 0;
    margin: 0;
}

.a {
    height: 50px;
    background-color: #5fc0cd;
    text-align: center;
    padding: 10px 10px 0px 10px;
}

.aa {
    float: left;
    color: #ffffff;
}

.ab {
    font-size: 20px;
    color: #ffffff;
}

.ac {
    color: #ffffff;
    float: right;
}

.b {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #eff0f4;
    padding: 1em 0px 1em 0px;
}

.b1 {
    width: 7%;
}

.b2 {
    height: 80px;
    background-color: #ffffff;
    min-width: 3%;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
}

.c {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #eff0f4;
    padding-bottom: 2em;
}

.c1 {
    width: 7%;
}

.g {
    height: 43px;
    padding: 0px 10px 0px 10px;
    border-right-style: solid;
    border-color: rgba(200, 200, 200, 0.5);
}

.h {
    height: 43px;
    padding: 0px 10px 0px 10px;
    border-right-style: solid;
    border-color: rgba(200, 200, 200, 0.5);
}

.c2 {
    height: 80px;
    background-color: #ffffff;
    min-width: 3%;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
}

.d {
    float: right;
    padding: 20px;
}