* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

input {
    display: none;
}

.header {
    background: #1d7ad9;
    color: #ffffff;
}

.header-first {
    width: 62.5%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 14px;
}

.header-photo {
    display: flex;
    text-align: center;
}

.header-lb-text-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 55px;
    color: #ffffff;
    border-left: 1px solid #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.header-lb-text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 55px;
    color: #ffffff;
    border-left: 1px solid #ffffff;
    text-decoration: none;
    font-size: 16px;
}

#radio-header-1:checked~.header-lb-text-1 {
    width: 105px;
    background: #ffffff;
    color: black;
}

#radio-header-2:checked~.header-lb-text-2 {
    width: 105px;
    background: #ffffff;
    color: black;
}

nav {
    background: #f9f9f9;
}

.nav-box {
    width: 62.5%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 16px;
}

.navs {
    display: flex;
    align-items: center;
}

.navs li {
    list-style: none;
}

.navs label {
    height: 50px;
    width: 100px;
    background: #ffffff;
    text-decoration: none;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#radio-1:checked~.radio-navs-1 {
    color: #ffffff;
    background: #1d7ad9;
}

#radio-2:checked~.radio-navs-2 {
    color: #ffffff;
    background: #1d7ad9;
}

#radio-3:checked~.radio-navs-3 {
    color: #ffffff;
    background: #1d7ad9;
}

#radio-4:checked~.radio-navs-4 {
    color: #ffffff;
    background: #1d7ad9;
}

#check-box {
    display: none;
}

.menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .navs {
        display: none;
    }
    .menu {
        display: block;
        background: #1d7ad9;
    }
    #check-box:checked~.navs {
        display: block;
    }
}

.middle {
    height: 1045px;
}

.middle-first {
    width: 62.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.middle-first-box-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 65px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#middle-first-radio-1:checked~.middle-first-box-1>div {
    background: #ff7f02;
}

#middle-first-radio-1:checked~.middle-first-box-1>span {
    color: #ff7f02;
}

.middle-first-box-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 65px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#middle-first-radio-2:checked~.middle-first-box-2>div {
    background: #ff7f02;
}

#middle-first-radio-2:checked~.middle-first-box-2>span {
    color: #ff7f02;
}

.middle-first-box-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 65px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#middle-first-radio-3:checked~.middle-first-box-3>div {
    background: #ff7f02;
}

#middle-first-radio-3:checked~.middle-first-box-3>span {
    color: #ff7f02;
}

.middle-first-box-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 65px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#middle-first-radio-4:checked~.middle-first-box-4>div {
    background: #ff7f02;
}

#middle-first-radio-4:checked~.middle-first-box-4>span {
    color: #ff7f02;
}

.middle-first-photo {
    border-radius: 5px;
    width: 160px;
    height: 5px;
    margin-bottom: 35px;
    background: #cccccc;
}

.middle-radius {
    position: absolute;
    left: 68px;
    top: 42px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #cccccc;
    text-align: center;
    color: #ffffff;
}

.middle-first-text {
    font-size: 18px;
    color: #cccccc;
    text-align: center;
}

.middle-second {
    background: #ffffff;
}

.middle-second input {
    display: block;
}

.middle-second-box {
    width: 62.5%;
    margin: 0 auto;
}

.middle-twe-smallbox-1 {
    font-size: 22px;
    height: 37px;
}

.middle-twe-smallbox-2 {
    height: 130px;
}

.middle-smallbox-title {
    font-size: 18px;
    padding-left: 15px;
    background: #f3f3f3;
    height: 40px;
    display: flex;
    align-items: center;
}

.middle-smallbox-option-1 {
    height: 90px;
    padding-left: 45px;
    display: flex;
    align-items: center;
    border:1px solid #e7e7e7; 
}

.middle-second-box-1 {
    margin-right: 60px;
}

.middle-second-box-2 {
    margin-right: 60px;
}

.middle-second-box-3 {
    margin-right: 60px;
}

.middle-smallbox-option-2 {
    padding: 27px 20px 27px 45px;
    height: 86px;
    display: flex;
    flex-direction: column;
    border:1px solid #e7e7e7; 
}

.middle-box-1 {
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
}

.middle-third-box-1 {
    display: flex;
    align-items: center;
    padding-right: 60px;
}

#middle-third-box-2 {
    height: 30px;
    width: 70px;
}

.middle-third-box-3 {
    display: flex;
    align-items: center;
    padding-right: 60px;
}

.middle-smallbox-option-3 {
    height: 140px;
    padding-left: 45px;
    display: flex;
    align-items: center;
    border:1px solid #e7e7e7; 
}

.middle-fourth-box-1 {
    margin-right: 60px;
}

.middle-fourth-box-2 {
    margin-right: 60px;
}

.middle-fourth-box-3 {
    margin-right: 60px;
}

.middle-fourth-box-4 {
    margin-right: 60px;
}

.middle-fourth-box-5 {
    margin-right: 60px;
}

.middle-twe-smallbox-5 {
    padding-top:140px;
    padding-bottom:95px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    border:1px solid #e7e7e7; 
}
.form-btn {
    height: 50px;
    width: 180px;
    background: #e15053;
    border-radius:10px;
    color: #ffffff;
    font-size: 24px;
    border: none;
}
.footer {
    background: #f9f9f9;
}

.footer-first {
    width: 62.5%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.footer-one {
    font-size: 18px;
    color: #999999;
    height: 85px;
}

.footer-twe {
    width: 288px;
}

.footer-twe li {
    list-style: none;
    font-size: 14px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.footer-twe ul {
    display: flex;
    flex-flow: wrap;
}

.footer-twe a {
    text-decoration: none;
    color: black;
}

.footer-twe a:hover {
    color: #1d7ad9;
}

.footer-three {
    font-size: 14px;
    display: flex;
    height: 85px;
}

.footer-three p {
    margin-bottom: 15px;
}

.footer-three-2 {
    padding-left: 20px;
}