* {
    padding: 0;
    margin: 0;
}
.body{
    Font-size:62.5%;
}
.boss {
    width: 100%;
    float: left;
    background: powderblue;
}
.a{padding:3%;}
.ab {
    width: 3em;
    height: 3em;
    float: left;
}
.b{
    width: 100%;
    padding: 15em 0em 15em 0em;
    text-align: center;
}
.c{padding: 0em 4em 25em 4em;
}
.ba{
    padding-top:7em;
}
.cb {height:4em;
    width: 4em;
    position:absolute;
    left:5%;
    bottom:25%;
}
.cc{
    height:4em;
    width:4em;
    position:absolute;
    right:5%;
    bottom:25%;
}
.l{ position:absolute;
    left:5%;
    bottom:21%;
}
.o{ position:absolute;
    right:5%;
    bottom:21%;
}