* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  height: 100%;
}
header {
  background: #5fc0cd;
}
header .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding: 0 30px;
  font-size: 3.2rem;
  color: #ffffff;
}
header .first a {
  text-decoration: none;
  color: #ffffff;
}
header .first .one {
  font-size: 3.6rem;
}
main {
  background: #eff0f4;
}
main .second {
  padding-top: 15px;
  padding-bottom: 70px;
  height: 215px;
}
main .second .one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 43px;
  height: 100px;
  width: auto;
  background: #ffffff;
  margin-bottom: 15px;
}
main .second .one .main-photo-one {
  padding-right: 50px;
  border-right: 1px solid #eaedee;
}
main .second .one .main-text-one {
  flex: 1;
  padding-left: 35px;
  height: 100px;
  min-width: 10px;
  border: none;
  outline: none;
}
footer {
  background: #5fc0cd;
}
footer .one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  font-size: 3.6rem;
  color: #ffffff;
  background: #5fc0cd;
  border: none;
  outline: none;
  cursor: pointer;
}
footer a {
  padding-right: 30px;
  padding-top: 20px;
  float: right;
  color: #5fc0cd;
  font-size: 3.2rem;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
