* {
    margin: 0;
    padding: 0;
}

.body {
    font-size: 62.5%;
}

.header {
    height: 3rem;
    background: #29bde0;
    padding: 2rem 1rem 2rem 1rem;
    text-align: center;
    font-size: 3.4rem;
    color: #f2fbfd;
    border-bottom: 1px solid #74d4eb;
}

.header-photo-one {
    float: right;
    border: none;
    background: #29bde0;
}

.header-photo-twe {
    float: left;
    border: none;
    background: #29bde0;
}

.main {
    background: url(./jiangbei.png);
    background-size: 301px 205px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #29bde0;
    height: 18rem;
    padding: 2rem 0 2rem 0;
    position: relative;
}

.main-one {
    position: absolute;
    bottom: 3.7rem;
    text-align: center;
    width: 100%;
}

.main-twe {
    color: #ffffff;
    font-size: 4rem;
}
.main-four {
    color: #fbb435;
    font-size:3.3rem;
    background: #29bde0;
    width: 100%;
   padding-bottom:3rem; 
}
.main-five {
     margin: 0 auto;
     width: 75%;
}
.middle {
    background: #29bde0;
    font-size: 2.6rem;
}

.middle-one {
    width: 75%;
    margin: 0 auto;
}

.middle-four {
    margin: 0 auto;
    height: 2.5rem;
    width: 75%;
    padding: 1rem;
}

.dl1 {
    font-size: 3rem;
    float: left;
}

.dl2 {
    font-size: 2rem;
    color: #a6a6a6;
    float: right;
}

.middle-five {
    margin: 0 auto;
    width: 75%;
    padding: 1rem;
}

.dl3 {
    font-size: 2.6rem;
    color: #a6a6a6;
}

.middle-six {
    border-bottom: 2px solid #dddddd;
}

.foot {
    height: 9rem;
    position: relative
}

.footer {
    background: #99dff0;
    height: 7rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    bottom: 0;
    opacity: 0.5; 
}

.footer-one {
    background: #f66f6f;
    height: 7rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 4rem;
    color: #ffffff;
    opacity: 1;
}

.footer-twe {
    background: #fbb435;
    height: 7rem;
    width: 45%;
    border-radius: 10px;
    border: none;
    font-size: 4rem;
    color: #ffffff;
    opacity:1;
}

.footer-one-ci {
    width: 45%;
    height: 7rem;
    opacity: 1;
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 870px) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 30%;
    }
}