* {
    padding: 0;
    margin: 0;
}

.body {
    font-size: 0.875rem;
}

.add {
    overflow: auto;
}

.all {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.my-all {
    position: relative;
    width: 100%;
    height: 1500px;
}

.head {
    background-color: #29bde0;
    width: auto;
    height: 93px;
    padding: 34px 24px 13px 24px;
    text-align: center;
}

.head-one {
    font-size: 3.4rem;
    color: #ffffff;
}

.photo-one {
    float: left;
    background-color: #29bde0;
    border: none;
}

.photo-twe {
    float: right;
    background-color: #29bde0;
    border: none;
}

.main {
    background-color: #b9e9f5;
    height: 83px;
    width: 100%;
    padding: 1.5rem 0 1.5rem 6%;
    position: relative;
    display: flex;
}

.main-one {
    font-size: 2.6rem;
    display: flex;
    align-items: center;
}

.main-twe {
    position: absolute;
    top: 1rem;
    right: 18px;
}

.middle {
    background: #29bde0;
    height: 90px;
    width: 100%;
    padding: 1rem 0 1rem 11%;
    position: relative;
    display: flex;
    align-items: center;
}

.middle-one {
    position: absolute;
    top: 0;
}

.middle-twe {
    font-size: 2.4rem;
    color: #c9eef7;
}

.middle-three {
    position: absolute;
    top: 22rem;
    bottom: 12rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background: #29bde0;
}

.middle-four {
    height: 14rem;
    width: 14rem;
    border: 4px solid #ffffff;
}

.box {
    width: 30%;
    height: 14rem;
    text-align: center;
    margin-bottom: 7rem;
}

.middle-five {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: #f5c97b;
}

.middle-six {
    background: #83b09a;
    text-align: center;
    height: 3.1rem;
    font-size: 2.2rem;
    color: #ffffff;
    z-index: 5;
}

.middle-four:hover .middle-seven {
    display: flex;
}

.middle-seven {
    padding-top: 24px;
    position: relative;
    left: -1rem;
    width: 15.2rem;
    display: none;
    justify-content: space-around;
}

.footer {
    height: 144px;
    width: 100%;
    background: #29bde0;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.footer-one {
    background: #fbb435;
    font-size: 40px;
    color: #ffffff;
    border: none;
    width: 70%;
    height: 9rem;
}

@media screen and (max-width:2560px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width:1440px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width:1024px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-width:730px) {
    .box {
        width: 50%;
    }
}

@media screen and (max-width:430px) {
    .box {
        width: 100%;
    }
}