* {
    padding: 0;
    margin: 0;
}

.body {
    font-size: 0.875rem;
}

.add {
    overflow: auto;
}

.head {
    background-color: #29bde0;
    width: 100%;
    height: 8rem;
    padding: 3rem 0 1rem 0;
    text-align: center;
}

.head-one {
    font-size: 3.4rem;
    color: #ffffff;
}

.photo-one {
    float: left;
    background-color: #29bde0;
    border: none;
}

.photo-twe {
    float: right;
    background-color: #29bde0;
    border: none;
}
.photo-three {
    float: right;
    background-color: #b9e9f5;
    border: none;
}
.main {
    background-color: #b9e9f5;
    height: 6rem;
    width: 100%;
    padding: 1.5rem 0 1.5rem 0;
}

.main-one {
    font-size: 2.6rem;
}

.main-twe {
    float: right;
}

.middle {
    background: #29bde0;
    height: 6rem;
    width: 100%;
    padding: 1rem 0 1rem 0;
    position: relative;
}

.middle-one {
    position: absolute;
    top: 0;
}

.middle-twe {
    font-size: 2.4rem;
    color: #c9eef7;
}

.middle-three {
    display: flex;
    justify-content: space-around;
    height: 13.5rem;
    width: 100%;
    background: #29bde0;
    overflow: auto;
}

.middle-four {
    background: #f5c97b;
    height: 9rem;
    width: 9rem;
    border: 4px solid #ffffff;
}

.middle-five {
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.middle-four:hover .middle-seven
{   display: flex;
}
.middle-seven {
    display: none;
}


.middle-six {
    background: #83b09a;
    text-align: center;
    height: 2rem;
    font-size: 2.2rem;
    color: #c1d7cc;
    z-index: 5;
}


.kj {
    height: 12rem;
    width: 100%;
}
.footer {
    height: 12rem;
    width: 100%;
    background: #29bde0;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

.footer-one {
    background: #fbb435;
    font-size: 40px;
    color: #ffffff;
    border: none;
    width: 70%;
    height: 7rem;
}

@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }
}