body,
div,
dl,
ul,
ol,
dd,
form,
p,
input,
select {
  margin: 0;
  padding: 0;
}
/* 初始化标签在所有浏览器中的margin、padding值 */
fieldset,
img {
  border: 0 none;
}
/* 重置fieldset（表单分组）、图片的边框为0*/
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
/* 重置嵌套引用的引号类型 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* 重置嵌套引用*/
input,
select,
textarea,
button {
  vertical-align: middle;
}
/* 重置表单控件垂直居中*/
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
/* 重置表单button按钮效果 */
html,
body {
  background: #ffffff;
  font-size: 62.5%;
  line-height: 1;
  font-family: "黑体";
  color: #666;
}
/* 重置body 页面背景为白色 */
input,
select,
textarea,
button {
  font-size: 12px;
  line-height: 1;
  font-family: "黑体";
  color: #666;
}
/* 重置页面文字属性 */
a {
  color: #666;
  text-decoration: none;
}
/* 重置链接a标签 */
a:active,
a:hover {
  text-decoration: none;
}
/* 重置链接a标签的鼠标滑动效果 */
img {
  vertical-align: top;
}
/* 图片在当前行内的垂直位置 */
header {
  height: 40px;
  width: 100%;
  font-size: 1.4rem;
  background: #ffffff;
  color: #29b078;
}
header .box {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 62.5%;
  min-width: 975px;
  height: 40px;
  margin: 0 auto;
}
header .your-account-number {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  display: none;
  height: 40px;
  width: 100%;
}
nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #29b078;
  width: 100%;
  min-height: 80px;
}
nav .navs {
  display: flex;
  justify-content: flex-end;
  width: 62.5%;
  min-width: 975px;
  margin-right: -70px;
}
nav .navs a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  color: #ffffff;
  font-size: 1.6rem;
}
nav .navs a:hover {
  background: #32c086;
}
nav input {
  display: none;
}
nav .menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  cursor: pointer;
}
footer {
  width: 100%;
  background: #29b078;
}
footer .g-my-information {
  display: flex;
  width: 62.5%;
  margin: 0 auto;
  min-width: 975px;
  padding-top: 40px;
  background: #29b078;
  color: #ffffff;
  font-size: 1.6rem;
  padding-bottom: 7px;
}
footer .g-my-information .u-tex {
  width: 30%;
  margin-bottom: 40px;
}
footer .g-my-information .u-tex dd {
  height: 22px;
  padding-top: 20px;
  font-size: 1.4rem;
}
footer .g-my-information .u-tex dd a {
  padding-bottom: 7px;
  color: #fff;
}
footer .g-my-information .u-tex dd a:hover {
  border-bottom: 1px solid #fff;
}
footer .g-my-information .box-right {
  text-align: right;
  width: 40%;
  padding-right: 7.83%;
}
footer .my-filing-number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  color: #ffffff;
  background: #29b078;
  border-top: 1px solid #32c086;
}
@media screen and (max-width: 768px) {
  nav {
    justify-content: left;
  }
  nav .navs,
  main .g-advantage .g-box-three .g-subject {
    display: none;
    width: 100%;
    padding-top: 60px;
  }
  nav .navs a {
    height: 50px;
    width: auto;
  }
  #check-box:checked ~ .navs,
  nav .menu {
    display: block;
  }
  header .box {
    display: none;
  }
  header .your-account-number {
    display: flex;
  }
  header .box,
  nav .navs {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  header .box,
  nav .navs {
    min-width: 0;
  }
  footer .my-information,
  footer .g-my-information .u-tex {
    min-width: 0;
    width: 100%;
  }
  nav .navs {
    margin-right: -70px;
  }
  footer .g-my-information .box-right {
    text-align: left;
  }
  footer .g-my-information {
    display: block;
    min-width: 0;
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  nav .navs {
    margin-right: 0;
  }
}
#m-box-1 {
  width: 100%;
  /*超出部分隐藏*/
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 0;
  /*设置每个圆圈的位置*/
  /*选中移动ul*/
}
#m-box-1 label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  bottom: 40px;
  z-index: 2;
}
#m-box-1 .m-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 300%;
  position: relative;
  transition: .5s;
  overflow: hidden;
}
#m-box-1 .m-list li {
  float: left;
  width: 33.333%;
}
#m-box-1 .m-list li img {
  width: 100%;
}
#m-box-1 input {
  display: none;
}
#m-box-1 input:checked + label {
  background: #29b078;
}
#m-box-1 label:nth-of-type(1) {
  left: 48%;
}
#m-box-1 label:nth-of-type(2) {
  left: 50%;
}
#m-box-1 label:nth-of-type(3) {
  left: 52%;
}
#m-box-1 input:nth-of-type(1):checked ~ ul {
  left: 0;
}
#m-box-1 input:nth-of-type(2):checked ~ ul {
  left: -100%;
}
#m-box-1 input:nth-of-type(3):checked ~ ul {
  left: -200%;
}
#m-box-1 .bn_arrows-left label {
  display: inline-block;
  width: 27px;
  height: 47px;
  line-height: 47px;
  border: none;
  background: url(../img/task14.1/snajiao.png) no-repeat;
  cursor: pointer;
}
#m-box-1 .bn_arrows-left label:nth-of-type(1),
#m-box-1 .bn_arrows-left label:nth-of-type(2),
#m-box-1 .bn_arrows-left label:nth-of-type(3) {
  position: absolute;
  top: 50%;
  left: 11.718%;
  display: none;
}
#m-box-1 .bn_arrows-right label {
  display: inline-block;
  width: 27px;
  height: 47px;
  line-height: 47px;
  border: none;
  background: url(../img/task14.1/photo3.png) no-repeat;
  cursor: pointer;
}
#m-box-1 .bn_arrows-right label:nth-of-type(1),
#m-box-1 .bn_arrows-right label:nth-of-type(2),
#m-box-1 .bn_arrows-right label:nth-of-type(3) {
  position: absolute;
  top: 50%;
  left: 88.282%;
  display: none;
}
#m-box-1 input:nth-of-type(1):checked ~ .bn_arrows-right label:nth-of-type(2),
#m-box-1 input:nth-of-type(1):checked ~ .bn_arrows-left label:nth-of-type(3) {
  display: inline-block;
}
#m-box-1 input:nth-of-type(2):checked ~ .bn_arrows-right label:nth-of-type(3),
#m-box-1 input:nth-of-type(2):checked ~ .bn_arrows-left label:nth-of-type(1) {
  display: inline-block;
}
#m-box-1 input:nth-of-type(3):checked ~ .bn_arrows-right label:nth-of-type(1),
#m-box-1 input:nth-of-type(3):checked ~ .bn_arrows-left label:nth-of-type(2) {
  display: inline-block;
}
#m-box-2 {
  width: 100%;
  /*超出部分隐藏*/
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 0;
  height: 470px;
  /*设置每个圆圈的位置*/
  /*选中移动ul*/
}
#m-box-2 label {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  bottom: 50px;
  z-index: 2;
  background: #ffffff;
  box-shadow: 0px 0px 2px #a8a8a8;
}
#m-box-2 .m-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 400%;
  position: absolute;
  transition: .1s;
  overflow: hidden;
}
#m-box-2 .m-list li {
  display: flex;
  justify-content: space-between;
  width: 25%;
}
#m-box-2 .m-list li .u-box {
  position: relative;
  width: 24%;
  padding: 19px 30px 40px 30px;
  margin: 0 20px;
  background: #ffffff;
  border: 1px solid #eeeded;
}
#m-box-2 .m-list li .u-box p {
  min-width: 152px;
  padding-top: 35px;
  padding-bottom: 28px;
  font-size: 1.8rem;
}
#m-box-2 .m-list li .u-box small {
  color: #999999;
  font-size: 1.6rem;
}
#m-box-2 input {
  display: none;
}
#m-box-2 input:checked + label {
  background: #29b078;
}
#m-box-2 label:nth-of-type(1) {
  left: 47%;
}
#m-box-2 label:nth-of-type(2) {
  left: 49%;
}
#m-box-2 label:nth-of-type(3) {
  left: 51%;
}
#m-box-2 label:nth-of-type(4) {
  left: 53%;
}
#m-box-2 input:nth-of-type(1):checked ~ ul {
  left: 0;
}
#m-box-2 input:nth-of-type(2):checked ~ ul {
  left: -100%;
}
#m-box-2 input:nth-of-type(3):checked ~ ul {
  left: -200%;
}
#m-box-2 input:nth-of-type(4):checked ~ ul {
  left: -300%;
}
html,
body {
  background: #fafafa;
}
main {
  width: 62.5%;
  min-width: 975px;
  margin: 160px auto 0 auto;
}
main .g-advantage {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.8rem;
}
main .g-advantage .g-box-one {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  margin-bottom: 50px;
}
main .g-advantage .g-box-one div {
  height: 60px;
  margin-bottom: 33px;
}
main .g-advantage .g-box-one .title {
  margin-bottom: 33px;
}
main .g-advantage .g-box-one .detailed {
  max-width: 225px;
  font-size: 1.6rem;
  color: #999999;
}
main .g-advantage .g-box-twe {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  margin-bottom: 50px;
}
main .g-advantage .g-box-twe div {
  height: 60px;
  margin-bottom: 33px;
}
main .g-advantage .g-box-twe .title {
  margin-bottom: 33px;
}
main .g-advantage .g-box-twe .detailed {
  max-width: 225px;
  font-size: 1.6rem;
  color: #999999;
}
main .g-advantage .g-box-twe div {
  height: 60px;
  margin-bottom: 33px;
}
main .g-advantage .g-box-twe .detailed {
  max-width: 255px;
  font-size: 1.6rem;
}
main .g-advantage .g-box-three {
  display: flex;
  max-width: 300px;
  margin-bottom: 50px;
}
main .g-advantage .g-box-three .g-subject {
  padding-right: 55px;
}
main .g-advantage .g-box-three .g-small-box {
  padding-top: 60px;
}
main .g-advantage .g-box-three .g-small-box p {
  color: #29b078;
  padding-bottom: 17px;
}
main .g-advantage .g-box-three .g-small-box div {
  padding-bottom: 30px;
}
main .g-learning-method {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}
main .g-learning-method .title {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100px;
}
main .g-learning-method .box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .g-learning-method .box .introduce {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 175px;
  width: 25%;
}
main .g-learning-method .box .introduce .sign {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 17px;
  color: #29b078;
  background: #ffffff;
}
main .g-learning-method .box .introduce .text {
  flex: 1;
  font-size: 1.4rem;
  color: #a8a8a8;
}
main .g-learning-method .box .introduce .next-step {
  height: 20px;
  width: 20px;
  margin: auto 25px auto 37px;
}
main .g-learning-method .box .introduce .next-step-1 {
  height: 20px;
  width: 20px;
  margin: auto 25px auto 37px;
  display: none;
}
main .excellent-children {
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  height: 90px;
  font-size: 1.8rem;
}
main .my-friend {
  margin-bottom: 90px;
}
main .my-friend dt {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  font-size: 1.8rem;
}
main .my-friend dd {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #fff;
}
main .my-friend dd a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: 0 auto;
  height: 180px;
  border-bottom: 1px solid #e2e2e2;
}
main .my-friend dd a:hover {
  box-shadow: 0px 0px 7px #e2e2e2;
}
.m-link {
  background: #ffffff;
  width: 100%;
  font-size: 1.4rem;
}
.m-link .u-text {
  display: flex;
  flex-wrap: wrap;
  width: 62.5%;
  min-width: 975px;
  margin: 0 auto;
}
.m-link .u-text dt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 70px;
  font-size: 1.8rem;
}
.m-link .u-text dd {
  width: 10%;
  height: 23px;
  background: url(../img/task14.1/yuan.png) no-repeat;
  background-position-y: 5px;
  margin-bottom: 9px;
}
.m-link .u-text dd a {
  padding-bottom: 8px;
  padding-left: 12px;
}
.m-link .u-text dd a:hover {
  border-bottom: 1px solid #29b078;
}
@media screen and (max-width: 992px) {
  main .g-learning-method .box {
    flex-wrap: wrap;
  }
  main,
  .m-link .u-text {
    min-width: 0;
    width: 100%;
  }
  .m-link .u-text dd {
    width: 20%;
  }
  main .g-advantage .g-box-one,
  main .g-advantage .g-box-twe,
  main .g-advantage .g-box-three {
    width: 50%;
  }
  main .my-friend dd a,
  main .g-learning-method .box .introduce {
    width: 100%;
  }
  main .g-learning-method .box .introduce .text {
    text-align: center;
  }
  main .g-learning-method .box .introduce .next-step-1 {
    display: block;
  }
  #m-box-2 .m-list li {
    flex-direction: column;
  }
  #m-box-2 {
    height: 1350px;
  }
  #m-box-2 .m-list li .u-box {
    width: auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  main .g-advantage .g-box-one,
  main .g-advantage .g-box-twe {
    width: 100%;
  }
  main .g-advantage .g-box-three {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
  #m-box-2 label:nth-of-type(1) {
    left: 41%;
  }
  #m-box-2 label:nth-of-type(2) {
    left: 47%;
  }
  #m-box-2 label:nth-of-type(3) {
    left: 53%;
  }
  #m-box-2 label:nth-of-type(4) {
    left: 59%;
  }
  #m-box-1 label:nth-of-type(1) {
    left: 44%;
    bottom: 5px;
  }
  #m-box-1 label:nth-of-type(2) {
    left: 50%;
    bottom: 5px;
  }
  #m-box-1 label:nth-of-type(3) {
    left: 56%;
    bottom: 5px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
