* {
    margin: 0;
    padding: 0;
}

.body {
    font-size: 14px;
    font-size: .875rem;
}

.header {
    height: 70px;
    width: auto;
    padding: 16px 5px 10px 5px;
    background-color: #5fc0cd;
}

.header-one {
    width: 100%;
    position: fixed;
    top: 16px;
    left: 29%;
}

.header-twe {
    width: 100%;
    position: fixed;
    top: 16px;
    left: 50%;
}

.header-three {
    min-width: 42px;
    position: fixed;
    right: 10px;
    top: 30px;
}

.foot-boss {
    position: fixed;
    bottom: 0;
    left: 0;
        width: 100%;
    height: 15rem;
    background:red; 
}

.foot-one {
align-items: center;
width:30%;

}

.foot-twe {
    align-items: center;
    width:30%;
    padding: 0 auto;
}

.foot-three {
    align-items: center;
    width:30%;
}

@media screen and (width: 1200px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 8px;
    }
}