* {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #5fc0cd;
    height: 3rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: flex;
    position: relative;
}

.header-one {
    width: 20%;
    position: absolute;
    left: 31%;
}

.header-twe {
    height: 3rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #55a8b3;
    font-size: 2rem;
}

.header-three {
    width: 20%;
    position: absolute;
    left: 49%;
}

.header-four {
    height: 3rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: #5fc0cd;
    background-color: #ffffff;
    font-size: 2rem;
}

.header-five {
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.top {
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.top-one {
    display: flex;
    height: 2rem;
    width: 23%;
}

.top-twe {
    border: none;
    font-size: 1.5rem;
    width: 100%;
    border-right: 2px solid #e8ebed;
    color: #999999;
}

.add {
    width: 100%;
    overflow: scroll;
}

.main-one {
    border-top: 1px #999999 solid;
    border-bottom: 1px #999999 solid;
    padding: 1rem 0 1rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-twe {
    height: 2rem;
}

.main-three {
    font-size: 2rem;
    color: #999999;
}

.main-four {
    font-size: 2rem;
    padding: 0.5em 0 0.5em 1em;
}

.main-five {
    color: red;
    float: right;
    font-size: 2rem;
}

.main-six {
    height: 1.5rem;
}

.boss {
    width: 100%;
    background-color: #f8fafb;
    display: flex;
    justify-content: space-around;
    height: 100px;
    position: fixed;
    bottom: 0;
    font-size: 22px;
}

.boss-one {
    width: 46px;
    height: 80px;
    background: none;
    border: none;
}

.boss-twe {
    height: 40px;
    width: 46px;
    padding-top: 10px;
}

.boss-ten {
    width: 94px;
    height: 94px;
    background: none;
    border: none;
}

.boss-three {
    background: none;
    border: none;
}

@media screen and (max-width: 12560px) {
    html {
        font-size: 28x;
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width:560px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 420px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 8px;
    }
}