* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  height: 100%;
}
header {
  background: #5fc0cd;
  height: 85px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
header .first-photo {
  margin: auto 0;
  background: url(img/photo1.png);
  height: 37px;
  width: 22px;
}
header .title {
  margin: 0 auto;
  color: #ffffff;
  font-size: 3.6rem;
}
main {
  padding-bottom: 230px;
}
main .max-photo {
  position: relative;
  height: 325px;
  width: 100%;
  background: url(img/photo2.png);
  background-size: cover;
}
main .max-photo .round {
  position: absolute;
  top: 80px;
  left: 30px;
  height: 169px;
  width: 169px;
  border-radius: 50%;
  background: url(img/photo3.png) no-repeat;
  background-position: -80px 0;
}
main .max-photo .text {
  max-width: 195px;
  padding-top: 115px;
  padding-left: 240px;
  color: #ffffff;
}
main .max-photo .text .first-text {
  float: left;
  font-size: 3.6rem;
  padding-right: 25px;
}
main .max-photo .text .second-text {
  float: left;
  padding-top: 10px;
  font-size: 2.8rem;
}
main .max-photo .text .third-text {
  padding-top: 77px;
  font-size: 2.4rem;
}
main .record {
  font-size: 3.2rem;
}
main .record .small-title {
  padding-left: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e5e7;
}
main .record .small-title .min-photo {
  width: 3px;
  height: 21px;
  background: #5fc0cd;
  margin-right: 30px;
}
main .record .first-middle {
  padding-left: 30px;
}
main .record .first-middle li {
  list-style: none;
  height: 100px;
  padding-left: 30px;
  border-bottom: 1px solid #e1e5e7;
  display: flex;
  align-items: center;
}
main .record .first-middle li span {
  color: #999999;
}
main .record .last-middle {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 60px;
  border-bottom: 1px solid #e1e5e7;
}
main .record .last-middle .last-title {
  white-space: nowrap;
  color: #999999;
  margin-right: 30px;
}
main .record .last-middle .last-text {
  font-size: 2.8rem;
}
footer {
  position: fixed;
  bottom: 0;
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
}
footer button {
  width: 40%;
  height: 90px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .btn-1 {
  margin-left: 40px;
  color: #5fc0cd;
  border: 2px solid #5fc0cd;
  background: #ffffff;
}
footer .btn-1 a {
  text-decoration: none;
  color: #5fc0cd;
  font-size: 3.4rem;
}
footer .btn-2 {
  margin-right: 40px;
  color: #5fc0cd;
  border: none;
  background: #5fc0cd;
}
footer .btn-2 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 3.4rem;
}
@media screen and (max-width: 720px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 520px) {
  main .max-photo .round {
    left: 0;
  }
  main .max-photo .text {
    padding-left: 180px;
  }
  main .max-photo .text .first-text {
    padding-right: 15px;
  }
  main .record .first-middle {
    padding-left: 0;
  }
  main .record .last-middle {
    padding-left: 30px;
  }
  html {
    font-size: 45%;
  }
}
